#footer{
  width: 100%;
  background-color: #78bcca;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 3rem;
  margin-top: 8rem;
}

#footer h1 a{
color: #0e3746;
font-size: 1.5rem;
font-weight: 500;

}

.footer-links a{
  color: #0e3746;
  font-size: 1rem;
  margin: 0 1.5rem;
}
.footer-links{
  padding: 1.3rem 0;
}
.footer-socials {
padding-bottom: 1.9rem;
}
.footer-socials a{
  color:#0e3746;
  font-size: 1.3rem;
  margin: 0 0.3rem;
  transition: 0.5s;
}
.footer-socials a:hover{
  display: inline-block;
  transform: translateY(-5px);
}
hr{
  width: 100%;
  border:solid 1px #9fb3bb;
}

@media screen and (max-width:480px) {
  #footer{
    display: flex;
    flex-direction:column;
    
  }

  .footer-links a{
     display: block;
     padding-bottom: 0.8rem;
     font-size: 1.1rem;
  }
}